.grafica-barras{
    height: 300px;
    width: 300px;
}
.grafica-pastel{
    height: 300px;
    width: 200px;
}

select{
    border-radius: 7px;
    text-transform: capitalize;
}
table{
    border: 1px solid #000;
}

th, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
 }